{% extends 'crud/base.html' %}

{% load static %}

{% block title %}Listado{% endblock %}

{% block main_content %}
<div class="container my-2 p-5 text-white bg-dark text-center rounded">
    <h1>Listado VideoJuegos </h1>
</div>

<div class="container my-2">
    <div class="row">
        {% if 'OK' in request.GET %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> Videojuego registrado satisfactoriamente!!!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
        {% if 'UPDATED' in request.GET %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> Videojuego actualizado satisfactoriamente!!!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
        {% if 'DELETED' in request.GET %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> Videojuego eliminado satisfactoriamente!!!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
        {% if 'FAIL' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> No se encontró los que estas buscando!!!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
        {% if 'NO_EXIST' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> No se encontró el videojuego que buscas!!!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}

    </div>
</div>

<div class="container my-2">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Plataforma</th>
                    <th>Desarrollador</th>
                    <th>Valor Unitario</th>
                    <th>Stock</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for v in videojuegos  %}
                <tr>
                    <td>{{v.idVideogame}}</td>
                    <td>{{v.title}}</td>
                    <td>
                        <a class="text-decoration-none" href="/crud/videogames/platforms/{{v.platform.id}}">{{v.platform}}</a>
                    </td>
                    <td>
                        <a class="text-decoration-none" href="/crud/videogames/studio/{{v.studio}}">{{v.studio}}</a>
                    </td>
                    <td>{{v.value}}</td>
                    <td>{{v.stock}}</td>
                    <td>
                        {% if v.image %}
                        <img class="img-videojuego" src="{{v.image.url}}" alt="{{v.title}}">
                        {% else %}
                        <img class="img-videojuego" src="{% static 'crud/img/image_not_found.jpg' %}" alt="{{v.title}}">
                        {% endif  %}
                    </td>
                    <td>
                        <a class="text-decoration-none" href="/crud/videogames/detail/{{v.idVideogame}}">
                            <span class="fs-2 text-primary">
                                <i class="fa-solid fa-eye"></i>
                            </span>
                        </a>
                        <a class="text-decoration-none" href="{% url 'videogame-edit' videogame_id=v.idVideogame %}">
                            <span class="fs-2 text-warning">
                                <i class="fa-solid fa-pen"></i>
                            </span>
                        </a>
                        <a class="text-decoration-none" href="{% url 'videogame-delete' videogame_id=v.idVideogame %}">
                            <span class="fs-2 text-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}