{% extends 'crud/base.html' %}

{% load static %}

{% block title %}{{formulario.id}}{% endblock %}

{% block content %}
<div class="container m-4">
    <div class="row mb-3">
        <h1>ID : {{formulario.id}}</h1>
    </div>
    <div class="col-md-4">
        {% if formulario.image %}
        <img class="img-update" src="{{formulario.image.url}}" alt="{{formulario.nombre}}">
        {% else%}
        <img class="img-update" src="{% static 'crud/img/image_not_found.jpg' %}" alt="INF">
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li class="mb-2">Nombre: <p class="fw-bold">{{formulario.nombre}}</p></li>
                <li class="mb-2">Categoria: <p class="fw-bold">{{formulario.categoria}}</p></li>
                <li class="mb-2">Precio: <p class="fw-bold">{{formulario.precio}}</p></li>
            </ul>
            <div class="row">
                <div class="col-2">
                    <a class="btn btn-outline-primary" href="{% url 'formularios' %}">Volver</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-outline-secondary" href="{% url 'formulario-edit' formulario_id=formulario.id %}">Editar</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-outline-danger" d
                    href="{% url 'formulario-delete' formulario_id=formulario.id %}">
                    Eliminar
                </a>
                </div>
            </div>
        </div>        
    </div>
</div>



{% endblock %}

