{% extends 'crud/base.html' %}

{% load static %}

{% block title %}Formularios{% endblock %}

{% block content %}
<div class="container my-2 p-2 bg-dark text-white text-center rounded">
    <h1>Administrador de Formularios</h1>
</div>



<div class="container-fluid my-2">
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Email</th>
                    <th>Comentario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for formulario in formularios %}
                <tr>
                    <td>{{formulario.id}}</td>
                    <td>{{formulario.nombre}} {{formulario.paterno}} {{formulario.materno}}</td>
                    <td>{{formulario.email}}</td>
                    <td> 

                        <div style="display: inline-block;
                        white-space: pre-wrap;
                        word-wrap: break-word;">
                            {{ formulario.comentarios }}
                        </div>
                          
                    </td>


                   
                   
                    <td>
                        <a class="text-decoration-none" href="{% url 'formulario-detail' formulario_id=formulario.id %}">
                            <span class="text-primary fs-2">
                                <i class="fa-solid fa-eye"></i>
                            </span>
                        </a>
                       
                        <a class="text-decoration-none" 
                            href="{% url 'formulario-delete' formulario_id=formulario.id %}">
                            <span class="text-danger fs-2">
                                <i class="fa-solid fa-trash"></i>
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




{% endblock %}
