{% extends 'crud/base.html' %}

{% load static %}

{% block title %}{{plato.id}}{% endblock %}

{% block content %}
<div class="container m-4">
    <div class="row mb-3">
        <h1>ID : {{plato.id}}</h1>
    </div>
    <div class="col-md-4">
        {% if plato.image %}
        <img class="img-update" src="{{plato.image.url}}" alt="{{plato.nombre}}">
        {% else%}
        <img class="img-update" src="{% static 'crud/img/image_not_found.jpg' %}" alt="INF">
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li class="mb-2">Nombre: <p class="fw-bold">{{plato.nombre}}</p></li>
                <li class="mb-2">Categoria: <p class="fw-bold">{{plato.categoria}}</p></li>
                <li class="mb-2">Precio: <p class="fw-bold">{{plato.precio}}</p></li>
            </ul>
            <div class="row">
                <div class="col-2">
                    <a class="btn btn-outline-primary" href="{% url 'platos' %}">Volver</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-outline-secondary" href="{% url 'plato-edit' plato_id=plato.id %}">Editar</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-outline-danger" d
                    href="{% url 'plato-delete' plato_id=plato.id %}">
                    Eliminar
                </a>
                </div>
            </div>
        </div>        
    </div>
</div>



{% endblock %}

