{% extends 'crud/base.html' %}

{% load static %}

{% block title %}{{principal.id}}{% endblock %}

{% block content %}
<div class="container m-4">
    <div class="row mb-3">
        <h1>ID : {{principal.id}}</h1>
    </div>
    <div class="col-md-4">
        {% if principal.image %}
        <img class="img-update" src="{{principal.image.url}}" alt="{{principal.nombre}}">
        {% else%}
        <img class="img-update" src="{% static 'crud/img/image_not_found.jpg' %}" alt="INF">
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li class="mb-2">Nombre: <p class="fw-bold">{{principal.nombre}}</p></li>
                <li class="mb-2">Categoria: <p class="fw-bold">{{principal.categoria}}</p></li>
                <li class="mb-2">Precio: <p class="fw-bold">{{principal.precio}}</p></li>
            </ul>
            <div class="row">
                <div class="col-2">
                    <a class="btn btn-outline-primary" href="{% url 'principales' %}">Volver</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-outline-secondary" href="{% url 'principal-edit' principal_id=principal.id %}">Editar</a>
                </div>
                {% if request.session.usuario.rol == 'ADMIN' %}
                    <div class="col-2">
                        <a class="btn btn-outline-danger" d
                        href="{% url 'principal-delete' principal_id=principal.id %}">
                        Eliminar
                    </a>
                    </div>
                {% endif %}
            </div>
        </div>        
    </div>
</div>



{% endblock %}

