{% extends 'login_app/login.html' %}
{% load static %}
{% block extracss %}
  <link rel="stylesheet" href="{% static 'login_app/css/box.css' %}">
{%endblock %}
{% block content %}
<div class="login-box">
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Usuario</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Contraseña</label>
      </div>
      <div class="center-wrapper">
        <a href="#">Acceder<span></span></a>
        <a href="#" id="registrarse">Registrate<span></span></a>
      </div>
    </form>
  </div>
{% endblock %}