{% extends 'core/base.html' %}
{% load static %}

{% block title %}Historia{% endblock %}
{% block extracss %}<link rel="stylesheet" href="{% static 'core/css/estilo-alterno.css' %}">{%endblock %}
{% block content %}
<section class="contenido">
    <div class="texto">
        <h1>Origen:</h1>
        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt non perferendis modi quas blanditiis! Fugiat veritatis exercitationem recusandae quidem culpa nulla perspiciatis. Rerum expedita illo facilis totam quia, repudiandae illum!</p>
        <h1>Fundadores:</h1>
        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt non perferendis modi quas blanditiis! Fugiat veritatis exercitationem recusandae quidem culpa nulla perspiciatis. Rerum expedita illo facilis totam quia, repudiandae illum!</p>
    </div>
    <div>
        <img class="imagen" src="{% static 'core/img/lasana-enrollada.jpg' %}" alt="lasana-enrollada">
    </div>
</section>
{% endblock %}
