{% extends 'core/base.html' %}
{% block title %}HOME{% endblock %}
{% load static %}
{% block extracss %}<link rel="stylesheet" href="{% static 'core/css/cards.css' %}">{%endblock %}
<!---------------------------------------------------------------------------------------------------------------------->
{% block content %}
<!---------------------------------------------------------------------------------------------------------------------->
    
    <div class="card_a">
        
        <img class="profile-image" src="{% static 'core/img/perfil.jpg' %}" alt="Perfil">
    </div>    
                
   
<!---------------------------------------------------------------------------------------------------------------------->
{% endblock %}