{% extends 'core/base.html' %}
{% block title %}HOME{% endblock %}
{% load static %}
{% block extracss %}<link rel="stylesheet" href="{% static 'core/css/estilo-alterno.css' %}">{%endblock %}
<!---------------------------------------------------------------------------------------------------------------------->
{% block content %}
<!---------------------------------------------------------------------------------------------------------------------->
    <section class="contenido">
        <div class="texto">
            <H1>Los Piñuflas</H1>
            <p>descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt non 
                perferendis modi quas blanditiis! Fugiat veritatis exercitationem recusandae quidem 
                culpa nulla perspiciatis. Rerum expedita illo facilis totam quia, repudiandae illum!</p>    
        </div>
        <div>
            <img class="imagen" src="{% static 'core/img/lasana-enrollada.jpg' %}" alt="lasana-enrollada">
        </div>
    </section>

<!---------------------------------------------------------------------------------------------------------------------->
{% endblock %}